<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272029280194-d0n9r8aaigeom4a23pe0fle1q89kjj87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272029280194-d0n9r8aaigeom4a23pe0fle1q89kjj87</string>
	<key>API_KEY</key>
	<string>AIzaSyCkx0JgRHF7gxOqn4Zt5c2R8QrFxwRhalY</string>
	<key>GCM_SENDER_ID</key>
	<string>272029280194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KCCreations.realtimeCommunicationApp</string>
	<key>PROJECT_ID</key>
	<string>realtime-communication-app</string>
	<key>STORAGE_BUCKET</key>
	<string>realtime-communication-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272029280194:ios:d838a3ca91ac9a68acd85b</string>
</dict>
</plist>